html {
    font-family: 'Roboto', sans-serif;
}
html, body {    
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    background-color: #eceeee;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-color: #4A5759;
    text-align: center;
    padding: 2rem;
}


header h1, header h2 {
    color: #bbb;
    letter-spacing: 0.1rem;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

header h2 {
    margin-top: 1rem;
}

nav {
    background-color: #B0C4B1;
    padding: 1.5rem 2rem;
}

nav ul {
    margin: 0;
}

nav li {
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

nav a {
    padding: 1rem 1.5rem;
    color: #4A5759;
    
}

nav a:hover {
    background-color: #DEDBD2;
}

main {
    padding: 0 6rem;
    padding-bottom: 8rem;
}

.search-results {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
}

.search-results li {
    display: inline-block;
    text-align: center;
    margin: 4rem;
    width: 15rem;
    border: 1px solid #4A5759;
    box-shadow: 6px 6px #8b959d;
    background-color: #DEDBD2;
    padding: 0.5rem;
}

.search-page h1, .cart-page h1, .logout-page h1 {
    text-align: center;
    color: #4d0a1a;
    margin-top: 3rem;
    margin-bottom: 0rem;
}

.book-search-entry p {
    margin: 0.5rem;
}

.book-search-title, .book-search-author {
    font-weight: bold;
    color: #3D0814;
}

.book-search-title {
    font-size: 1.2rem;
}

.book-search-price {
    font-size: 1.2rem;
}

.book-page h1, .book-page h2{
    text-align: center;
}

.book-title {
    font-size: 3rem;
}

.book-title, .book-author {
    color: #4d0a1a;
    margin-bottom: 0.5rem;
}

.book-author {
    font-size: 1.8rem;
    margin-top: 0.5rem;
}

.book-genres {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    float: left;
}

.book-genres li {
    display: inline-block;
    margin: 1rem;
}

.book-genre {
    padding: 1rem 1.5rem;
    background-color: #DEDBD2;
}

.book-genre:hover {
    background-color: #dacba1;
}

.book-buy-download {
    margin-top: 2rem;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    background-color: #A22522;
    color: white;
    float: right;
}


.book-buy-download:hover {
    background-color: #c3451c;
}

.description {
    clear: both;
    margin-top: 1.5rem;
    font-size: 1.3rem;
}

.menu-cart {
    margin-right: 3rem;
}

.menu-cart a, .cart-buy-button a, .profile-links a{
    background-color: #A22522;
    float: right;
    padding: 1rem 1.5rem;
    margin-right: 1rem;
    color: white;
    font-size: 1.2rem;
}

.profile-links {
    margin-top: 3rem;
}

.profile-links a {
    float: none;
}

.menu-cart a:hover, .cart-buy-button a:hover, .profile-links a:hover {
    background-color: #c3451c;
}

main {
    clear: both;
}

.table {
    margin-top: 2rem;
    padding: 2rem;
    width: 100%;
    font-size: 1.3rem;
    border: 1px solid black;
    box-shadow: 6px 6px #8b959d;
    background-color: #DEDBD2;
}

.cart-price, .table th.cart-price {
    text-align: right;
}

.table th{
    text-align: left;
}

.table th, td {
    padding: 0.5rem 1rem;
}

.cart-remove {
    width: 1rem;
}

.cart-total {
    text-align: right;
    margin-right: 3rem;
    font-size: 1.5rem;
}
.cart-total-number {
    font-size: 1.6rem;
    font-weight: bold;
    margin-left: 1rem;
}

.cart-buy-button a {
    margin-right: 0rem;
}

.cart-link a {
    padding: 0.5rem 1rem;
}

.cart-link a:hover {
    background-color: #A22522;
    color: white;
}

.stage-form {
    width: intrinsic;           
    width: -moz-max-content;   
    width: -webkit-max-content;
    margin: auto;
    margin-top: 3rem;
    background-color: #DEDBD2;
    border: 1px solid black;
    box-shadow: 6px 6px #8b959d;
    text-align: center;
    padding: 2rem 1rem;
}

.stage-form input, .stage-form select, .stage-form button {
    display: block;
    margin: 0.5rem 1rem;
    padding: 1rem 1.5rem;
    width: 15rem;
}

.stage-form button {
    background-color: #A22522;
    color: white;
    border: none;
    font-size: 1rem;
    width: 18rem;
    display: block;
    margin-top: 1.5rem;
}

.stage-form select {
    display: block;
    background-color: white;
    border: 1px solid black;
    color: black;
    width: 18rem;
}

.stage-form button:hover {
    background-color: #c3451c;
}

.stage-error-container {
    text-align: center;
    width: 100%;
}

.stage-error {
    width: intrinsic;           
    width: -moz-max-content;   
    width: -webkit-max-content;
    max-width: 16rem;
    margin: auto;
    margin-top: 3rem;
    font-size: 1.2rem;
    color: white;
    background-color: #A22522;
    padding: 1rem 3rem;
}

.hidden {
    display: none;
}

.confirm-purchase-text {
    display: block;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

.confirm-credit-card {
    display: block;
    padding: 0.5rem;
}

.confirm-buttons > button {
    margin-top: 0.5rem;
}

.profile-page, .error-page, .logout-page {
    background-color: #DEDBD2;
    margin: 5rem;
    padding-bottom: 3rem;
    border: 1px solid black;
    box-shadow: 6px 6px #8b959d;
    text-align: center;
    color: #3D0814;
}

.stage-form h1 {
    margin-top: 0rem;
}

.control{
    border: none;
    background-color: inherit;
    color:red;
    display:none;
    text-align:center;
    outline:none;
    cursor:default;
}

.control input {
    display: none;
}

.form-inline {
    display: inline-block;
}

.field-error {
    font: 1rem;
    background-color: #A22522;
    color: white;
    padding: 0.5rem;
    margin: -0.5rem 1rem 0.5rem 1rem;
}

#password-counter {
    color: white;
    font-weight: bold;
}
.pw-very-weak {
    background-color: #A22522;
}

.pw-weak {
    background-color: rgb(214, 139, 0);
}

.pw-strong {
    background-color: rgb(77, 170, 1);
}

.profile-links-group {
    display: block;
    margin-bottom: 3rem;
}

.account_creation {
    text-align: center;
}

.g-recaptcha {
    display: inline-block;
}