<?php
// Sample settings file
$db_host = "127.0.0.1";
$db_username = "root";
$db_password = "";
$db_name = "EbookStore";

$BASE_URL = "http://localhost/";

$RECAPTCHA_SITEKEY = "";
$RECAPTCHA_SECRET = "";

$USE_PHPMAILER = false;
// built-in mail options
$mail_headers = "From: EbookStore <ebookstore@localhost>";
// PHPMailer options (only if enabled)
$SMTP_HOST = "smtp.gmail.com";
$SMTP_USER = "ebookstore@gmail.com";
$SMTP_PWD = "password";
$MAIL_FROM_NAME = "Ebook Store";

$AUTH_LOG_FILE = "/var/log/ebook_store_auth.log";

ini_set('display_errors', 1);
ini_set('display_startup_errors', 1);
error_reporting(E_ALL);
?>